/*  your css code here. If applicable */
#container {
    margin: 20px;
    position: relative;
    color: black;
}

#container::before,
#container::after {
    content: "Special Text";
    color: #f00;
    font-size: 20px;
    position: absolute;
}

#container::before {
    left: -100px;
    top: 50%;
}

#container::after {
    right: -100px;
    top: 50%;
}

